.sales_con {
    background: var(--fff);
    min-height: 85vh;
    padding: 10px;
    border-radius: 5px;
}

.sales_con :is(.dataTables_filter) {
    display: none;
}
.sales_con tbody {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}
.sales_con table.dataTable.no-footer {
    border-bottom: none;
}
.sales_con tbody tr {
    float: left;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 15%;
    min-height: 40vh;
    position: relative;
    overflow: hidden;
    border: 1px solid #aaa;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
}
.add_btn {
    cursor: pointer;
}
.add_btn_hide {
    visibility: hidden;
    opacity: 0;
}
.sales_con tbody tr.add_btn i {
    font-size: 5rem;
    color: var(--black);
}
.sales_con tbody tr.add_btn:hover i {
    color: var(--pink);
}
.sales_con tbody tr:hover {
    border: 1px solid var(--pink);
}
.sales_con tbody tr:not(.add_btn) td {
    color: var(--pink);
    height: 100%;
    transition: 100ms ease;
    z-index: -1;
}
.sales_con tbody tr:not(.add_btn):hover > td {
    z-index: 1;
    backdrop-filter: blur(10px);
    text-shadow: 0 0 1px black;
}
.sales_con tbody tr td:nth-of-type(1) {
    position: absolute;
    background: var(--fff);
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 0;
}
.sales_con tbody tr td:nth-of-type(1):hover {
    color: var(--pink);
}
.sales_con tbody tr td:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2%;
}
.item_details {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    height: 100%;
}
.item_details .top {
    width: 100%;
}
.item_details .bottom {
    position: absolute;
    bottom: 0;
}
.item_details .bottom.item_qty {
    right: 0;
}
.table_buttons {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--black);
}
.table_buttons div {
    font-size: 22px;
    cursor: pointer;
    width: 40px;
    border-radius: 5px;
}
.table_buttons div:has(:is(i.fa-pencil,i.fa-cart-plus)):hover {
    color: green;
    border: 1px solid green;
}
.table_buttons div:has(i.fa-trash):hover {
    border: 1px solid red;
    color: red;
} 
.sales_con .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}






